<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @organization.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @organization.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
